{% extends "base.html" %}

{% block title %}
    Pizza Time | Cart
{% endblock %}
{% load static %}

{% block content %}
<div style="">
    <table class="table">
      <thead class="thead-dark">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Product</th>
            <th scope="col">Status</th>
            <th scope="col">Quantity</th>
            <th scope="col">Remove</th>
            <th scope="col">Unit Price</th>
        </tr>
      </thead>
      <tbody class="text-center">
      {% for item in cart %}
      {% with product=item.product %}
        <tr>
            <td>
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/Logo.png" %}{% endif %}">
                </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
                <form action="{% url "cart:cart_add" product.id %}" method="post">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.override }}
                        <input type="submit" value="Update">
                        {% csrf_token %}
                </form>
            </td>
            <td>
                <form action="{% url "cart:cart_remove" product.id %}" method="post">
                <input type="submit" value="Remove">
                {% csrf_token %}
                </form>
            </td>
            <td class="num">
                {% if item.priceSm >= 0.10 %}
                ${{ item.priceSm }}
                {% elif item.priceSodaSm >= 0.10 %}
                ${{ item.priceSodaSm }}
                {% elif item.priceSide >= 0.10 %}
                ${{ item.priceSide }}
                {% else %}
                Invalid Price
                {% endif %}
            </td>
            <td class="num">${{ item.total_price }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr>
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
      </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "cart:checkout" %}" class="button">Check Out</a>
    </p>
</div>

{% endblock %}