{% extends "base.html" %}

{% block title %}
Pizza Time | About Us
{% endblock %}
{% load static %}
{% block content %}

	<div class="container">
		<logo>
			<div class="image"></div>
		</logo>
		<br>
		<br>
    <h1>About Us</h1>
	<p1>We are Pizza Time Pizzeria and <br>
	we are located at 123 Pizza Time Street in <br>
	Downtown Colorado Springs, Colorado. <br>
	We make the most famous and favorited pizzas <br>
	you will ever eat with some sides to go along with. <br>
	All of our ingredients are fresh. <br>
	Our Dough is made fresh in house every day. <br>
	We also offer a gluten free option of our pizza dough. <br>
	Our cheese is all natural whole milk <br>
	from grass fed cows. <br>
	Prices are competitive, but we guarantee the quality <br>
	of the pizza is worth it. <br>
	We also serve a large selection of <br>
	local and domestic craft beers <br>
	to go along with your pizza of choice.</p1><br><br>
    <p2>We service Dine In | Take Out | Delivery</p2><br><br>
	<p3>Here at Pizza Time Pizzeria, <br>
	we offer delivery to a limited area. <br>
	Delivery hours are Monday-Saturday from <br>
	12pm-10pm each day. <br>
	Sorry but we are closed on Sundays. <br>
	Our delivery times average 45 minutes to an hour <br>
	from a successful online order. <br>
	Our delivery cost is only a $2.00 additional charge.</p3>
	</div>
{% endblock %}