{% extends "base.html" %}

{% block title %}
Pizza Time | About Us
{% endblock %}
{% load static %}
{% block content %}
<div class="bgimg" style="height:100vh;">
	<div class="row first-info" id="first-info">
		<div class="col-md-3">
        </div>
		<div class="col-md-6">
			<div class="card-body text-center text-white">
				<br>
				<br>
				<h5 class="card-title">About Us</h5>
				<p1 class="card-text">We are Pizza Time Pizzeria and we are located at 123 Pizza Time Street in Downtown Colorado Springs, Colorado.<br>
					We make the most famous and favorited pizzas you will ever eat with some sides to go along with.<br>
					All of our ingredients are fresh.<br>
					Our Dough is made fresh in house every day.<br>
					We also offer a gluten free option of our pizza dough.<br>
					Our cheese is all natural whole milk from grass fed cows.<br>
					Prices are competitive, but we guarantee the quality of the pizza is worth it.<br>
					We also serve a large selection of local and domestic craft beers to go along with your pizza of choice.</p1><br><br>
				<p2 class="card-text">We service Dine In | Take Out | Delivery</p2><br><br>
				<p3 class="card-text">Here at Pizza Time Pizzeria, we offer delivery to a limited area.<br>
					Delivery hours are Monday-Saturday from 12pm-10pm each day.<br>
					Sorry but we are closed on Sundays.<br>
					Our delivery times average 45 minutes to an hour from a successful online order.<br>
					Our delivery cost is only a $2.00 additional charge.</p3>
			</div>
		</div>
		<div class="col-md-3">
        </div>
	</div>
</div>
{% endblock %}
