{% extends "base.html" %}
{% block title %}
    Incoming Orders
{% endblock %}

{% block content %}

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">Order #</th>
        <th scope="col">Product</th>
        <th scope="col">Comments</th>
        <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody class="text-center">
    {% for order in orders %}
        <tr>
            <th scope="row">{{ order.id }}</th>
            {% if orderItems.id == order.id %}
                {% for items in orderItems %}
                    <td>{{ items.name }}</td>
                    <td>{{ items.comments }}</td>
                    <td>{{ items.comments }}</td>
                    <td><button class="btn btn-primary" type="submit">Update Status</button></td>
                {% endfor %}
            {% endif %}
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}