{% extends "base.html" %}

{% block title %}
    {{ product.name }}
{% endblock %}
{% load static %}

{% block content %}
<center>
    <div class="col-xs-12">
        <img class="img-fluid" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no_img.jpg" %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <!--<h4>
            {% if product.product_type == 'Pizza' %}
            Small - ${{ product.priceSm }}
            {% elif product.product_type == 'Sides' %}
            ${{ product.priceSide }}
            {% elif product.product_type == 'Soda' %}
            12oz - ${{ product.priceSm }}
            {% else %}
            Invalid Price
            {% endif %}
        </h4>
        <h4>
            {% if product.product_type == 'Pizza' %}
            Medium - ${{ product.priceMd }}
            {% else %}
            {% endif %}
        </h4>
        <h4>
            {% if product.product_type == 'Pizza' %}
            Large - ${{ product.priceLg }}
            {% elif product.product_type == 'Soda' %}
            2-Liter - ${{ product.priceLg }}
            {% else %}
            {% endif %}
        </h4>-->

        {% if product.product_type == 'Pizza' %}
        <form action="{% url "cart:cart_add" product.id %}" method="POST">
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">

        {% elif product.product_type == 'Soda' %}
        {{ cart_product_form.quantity }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">

        {% elif product.product_type == 'Sides' %}
        {{ cart_product_form.quantity }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">

        </form>
        {% else %}
        This product is currently unavailable.
        {% endif %}
    </div>

    <h1>{% if cart_product_form.size == 'Small' %}
            {% with price=product.priceMd %}{% endwith %}
        {{ price }}
        {% endif %}
    </h1>

    <h1>${{ price }}</h1>
    <h1>{{ cart_product_form.size.value }}</h1>
    <h1>{{ m }}</h1>

    </center>
{% endblock %}