{% extends "base.html" %}

{% block title %}
    {{ product.name }}
{% endblock %}
{% load static %}

{% block content %}
<center>
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no_img.jpg" %}{% endif %}" width="400" height="400">
        <h1>{{ product.name }}</h1>
        <h4>
            {% if product.product_type == 'Pizza' %}
            Small - ${{ product.priceSm }}
            {% elif product.product_type == 'Side' %}
            ${{ product.priceSide }}
            {% elif product.product_type == 'Soda' %}
            12oz - ${{ product.priceSm }}
            {% else %}
            Invalid Price
            {% endif %}
        </h4>
        <h4>
            {% if product.product_type == 'Pizza' %}
            Medium - ${{ product.priceMd }}
            {% else %}
            {% endif %}
        </h4>
        <h4>
            {% if product.product_type == 'Pizza' %}
            Large - ${{ product.priceLg }}
            {% elif product.product_type == 'Soda' %}
            2-Liter - ${{ product.priceLg }}
            {% else %}
            {% endif %}
        </h4>

        {% if product.product_type == 'Pizza' %}
        <form action="{% url "cart:cart_add" product.id %}" method="post">
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">
        </form>
        {% elif product.product_type == 'Soda' %}
        <form action="{% url "cart:cart_add" product.id %}" method="post">
        {{ cart_product_form.quantity }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">
        </form>
        {% elif product.product_type == 'Side' %}
        <form action="{% url "cart:cart_add" product.id %}" method="post">
        {{ cart_product_form.sidesize }}
        {{ cart_product_form.quantity }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">
        </form>
        {% else %}
        This product is currently unavailable.
        {% endif %}

        <li>{{ product.priceSide }} </li>
        <li>{{ product.product_type }} </li>
        <li>{{ product.created }}</li>
        <li>{{ product.image }}</li>
        <li>{{ product.category_id }}</li>

    </div>
</center>
{% endblock %}