{% extends "base.html" %}

{% block title %}
    {{ product.name }}
{% endblock %}
{% load static %}

{% block content %}
<center>
    <div class="col-xs-12">
        <img class="img-fluid" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no_img.jpg" %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <form action="{% url "cart:cart_add" name 'Small' %}" method="POST">
            <label>
                {% if product.product_type == 'Pizza' %}
                Small - ${{ priceSm }}
                {% elif product.product_type == 'Sides' %}
                ${{ priceSm }}
                {% elif product.product_type == 'Soda' %}
                12oz - ${{ priceSm }}
                {% else %}
                Invalid Price
                {% endif %}
            </label>
            {% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>

        <form action="{% url "cart:cart_add" name 'Medium' %}" method="POST">
            <label>
                {% if product.product_type == 'Pizza' %}
                Medium - ${{ priceMd }}
                {% elif product.product_type == 'Sides' %}
                {% elif product.product_type == 'Soda' %}
                {% else %}
                Invalid Price
                {% endif %}
            </label>
            {% csrf_token %}
            {% if product.product_type == 'Pizza' %}
                        <input type="submit" value="Add to cart">
            {% else %}
            {% endif %}
        </form>

        <form action="{% url "cart:cart_add" name 'Large' %}" method="POST">
            <label>
                {% if product.product_type == 'Pizza' %}
                Large - ${{ priceLg }}
                {% elif product.product_type == 'Sides' %}
                {% elif product.product_type == 'Soda' %}
                2-Liter - ${{ priceLg }}
                {% else %}
                Invalid Price
                {% endif %}
            </label>
            {% csrf_token %}
            {% if product.product_type == 'Sides' %}
            {% else %}
                <input type="submit" value="Add to cart">
            {% endif %}

        </form>

    </div>
</center>
{% endblock %}