{% extends "base.html" %}

{% block title %}
    COMING SOON!!!
{% endblock %}

{% block content %}
        <div class="bgimg">
			<div class="top">
				<p>Pizza Time Logo | Order Online | Menu | Promotions | About Us/Contact Us | Cart</p>
			</div>
			<div class="middle">
				<h1>COMING SOON!</h1>
				<h2>Pizzeria Soon Offering Online Orders and Delivery!!!</h2>
				<hr>
				<p>Under Construction</p>
			</div>
			<div class="bottom">
				<p>Pizza Time Logo | Follow Us On... | We are Hiring...Apply Online | About Us | Contact Us | Copyright</p>
			</div>
		</div>
{% endblock%}
