{% extends "base.html" %}

{% block title %}
    COMING SOON!!!
{% endblock %}
{% load static %}
{% block content %}
	<div class="container-fluid" style="padding-left:13%; padding-right:13%; text-align: center;">
		<div class="main">
			<div class="menu">
				<div class="row">
					<div class="col-xs-12">
						<h1>Menu</h1>
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-lg-4">
						<div class="card border-0">
			  				<div class="card-body">
								<h5 class="card-title" style="text-align:center;"><img class="img-responsive" src="/static/images/S_DX.jpg"  alt="Responsive image">Deluxe Pizza</h5>
								<p class="card-text">Pizza Description.</p>
								<p class="card-text">Ingredients: </p>
								<a href="#" class="btn btn-primary">Add to Cart</a>
			  				</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-4">
						<div class="card mb-4 border-0">
			  				<div class="card-body">
								<h5 class="card-title"><img class="img-responsive" src="/static/images/S_MX.jpg" alt="Responsive image"></h5>
								<p class="card-text">Pizza Description.</p>
								<p class="card-text">Ingredients: </p>
								<a href="#" class="btn btn-primary">Add to Cart</a>
			  				</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-4">
						<div class="card border-0">
			  				<div class="card-body">
								<h5 class="card-title"><img class="img-responsive" src="/static/images/S_PIZCK.jpg" alt="Responsive image"></h5>
								<p class="card-text">Pizza Description.</p>
								<p class="card-text">Ingredients: </p>
								<a href="#" class="btn btn-primary">Add to Cart</a>
			  				</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-4">
						<div class="card border-0">
			  				<div class="card-body">
								<h5 class="card-title"><img class="img-responsive" src="/static/images/S_PIZCK.jpg" alt="Responsive image"></h5>
								<p class="card-text">Pizza Description.</p>
								<p class="card-text">Ingredients: </p>
								<a href="#" class="btn btn-primary">Add to Cart</a>
			  				</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock%}