{% extends "base.html" %}

{% block title %}
Pizza Time | Menu
{% endblock %}
{% load static %}
{% block content %}

<!--<div class="container-fluid" style="padding-left:13%; padding-right:13%; text-align: center;">
    <div class="main">
        <div class="menu">
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        Try our new <strong>Chicken Pizza!</strong>
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h1>Menu</h1>
                </div>
            </div>
            <hr class="col-sm-12" style="margin-right:6%">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Pizza</h2>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card  mb-4  border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"><img alt="Custom Pizza"
                                                                                   class="img-responsive"
                                                                                   src="/static/images/S_DX.jpg"><h5>Custom
                                Pizza</h5></h5>
                            <a class="btn btn-primary" href="#">Customize</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card  mb-4  border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"><img alt="Deluxe Pizza"
                                                                                   class="img-responsive"
                                                                                   src="/static/images/S_DX.jpg"><h5>Deluxe
                                Pizza</h5></h5>
                            <a class="btn btn-primary" href="#">Add to Cart</a>
                            <a class="btn btn-link" href="#">Customize</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-4 border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"><img alt="Meat Lovers Pizza"
                                                                                   class="img-responsive"
                                                                                   src="/static/images/S_MX.jpg"><h5>Meat
                                Lovers Pizza</h5></h5>
                            <a class="btn btn-primary" href="#">Add to Cart</a>
                            <a class="btn btn-link" href="#">Customize</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-4 border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"><img alt="Chicken Special Pizza"
                                                                                   class="img-responsive"
                                                                                   src="/static/images/S_PIZCK.jpg"><h5>
                                Chicken Special Pizza</h5></h5>
                            <a class="btn btn-primary" href="#">Add to Cart</a>
                            <a class="btn btn-link" href="#">Customize</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-4 border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"><img alt="BBQ Chicken Pizza"
                                                                                   class="img-responsive"
                                                                                   src="/static/images/S_PIZCR.jpg"><h5>BBQ
                                Chicken Pizza</h5></h5>
                            <a class="btn btn-primary" href="#">Add to Cart</a>
                            <a class="btn btn-link" href="#">Customize</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-4 border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"><img alt="Thin Crust Supreme Pizza"
                                                                                   class="img-responsive"
                                                                                   src="/static/images/S_PIZPV.jpg"><h5>
                                Thin Crust Supreme Pizza</h5></h5>
                            <a class="btn btn-primary" href="#">Add to Cart</a>
                            <a class="btn btn-link" href="#">Customize</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-4 border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"><img alt="Pepperoni Pizza"
                                                                                   class="img-responsive"
                                                                                   src="/static/images/S_PIZPX.jpg"><h5>Pepperoni
                                Pizza</h5></h5>
                            <a class="btn btn-primary" href="#">Add to Cart</a>
                            <a class="btn btn-link" href="#">Customize</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-4 border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"><img alt="Hamburger Pizza"
                                                                                   class="img-responsive"
                                                                                   src="/static/images/S_PZBRGR.jpg"><h5>Hamburger
                                Pizza</h5></h5>
                            <a class="btn btn-primary" href="#">Add to Cart</a>
                            <a class="btn btn-link" href="#">Customize</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-4 border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"><img alt="Taco Special Pizza"
                                                                                   class="img-responsive"
                                                                                   src="/static/images/S_PZTACO.jpg"><h5>Taco
                                Special Pizza</h5></h5>
                            <a class="btn btn-primary" href="#">Add to Cart</a>
                            <a class="btn btn-link" href="#">Customize</a>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="col-sm-12" style="margin-right:6%">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Sides</h2>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card  mb-4  border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"><img alt="Garlic Knots"
                                                                                   class="img-responsive"
                                                                                   src="/static/images/G_Knot.jpg"><h5>Garlic
                                Knots</h5></h5>
                            <a class="btn btn-primary" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card  mb-4  border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"><img alt="Bread Sticks"
                                                                                   class="img-responsive"
                                                                                   src="/static/images/B_Sticks.jpg"><h5>Bread
                                Sticks</h5></h5>
                            <a class="btn btn-primary" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-4 border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"><img alt="Lava Cake"
                                                                                   class="img-responsive"
                                                                                   src="/static/images/F_LAVA.jpg"><h5>Lava Cake</h5>
                            </h5>
                            <a class="btn btn-primary" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-4 border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"><img alt="Chicken Wings"
                                                                                   class="img-responsive"
                                                                                   src="/static/images/C_Wings.png"><h5>Chicken
                                Wings</h5></h5>
                            <a class="btn btn-primary" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <hr class="col-sm-12">
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2>Drinks</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-4 border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"><img alt="Diet Coke"
                                                                                   class="img-responsive"
                                                                                   src="/static/images/F_DIET.jpg"><h5>2L Diet Coke</h5>
                            </h5>
                            <a class="btn btn-primary" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-4 border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"><img alt="Sprite"
                                                                                   class="img-responsive"
                                                                                   src="/static/images/F_SPRITE.jpg"><h5>2L Sprite</h5></h5>
                            <a class="btn btn-primary" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-4 border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"><img alt="Coca Cola"
                                                                                   class="img-responsive"
                                                                                   src="/static/images/F_COKE.jpg"><h5>2L Coca Cola</h5>
                            </h5>
                            <a class="btn btn-primary" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-4 border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"><img alt="Orange"
                                                                                   class="img-responsive"
                                                                                   src="/static/images/F_ORAN.jpg"><h5>2L Orange Soda</h5>
                            </h5>
                            <a class="btn btn-primary" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<center>
    <div class="container-fluid" style="padding-left:13%; padding-right:13%; text-align: center;">
         <h3>Categories</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url "web_pizza:menu" %}">All</a>
            </li>
            {% for c in categories %}
            <li {% if not category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
            {% endfor %}
        </ul>
     </div>
    <div class="container-fluid" style="padding-left:13%; padding-right:13%; text-align: left;">
        <h1>{% if category %}{{ category.name }}{% else %}All{% endif %}</h1>
        {% for product in products %}
        <div class="item">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/Logo.png" %}{% endif %}
            </a>
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
            <br>
        </div>
        {% endfor %}
    </div>
        <!--<div id="main" class="menu">
            <h1>{% if category %}{{ category.name }}{% else %}All{% endif %}</h1>
            {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/img.png" %}{% endif %}
                </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                <br>
                ${{ product.price }}
            </div>
            {% endfor %}
         </div>
     </div>-->
    </div>
</center>

{% endblock %}