{% extends "base.html" %}

{% block title %}
Pizza Time | Menu
{% endblock %}
{% load static %}
{% block content %}

<div class="container-fluid" style="padding-left:13%; padding-right:13%; text-align: center;">
    <div class="main">
        <div class="menu">
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        Try our new <strong>Chicken Pizza!</strong>
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h1>Menu</h1>
                </div>
            </div>
            <hr class="col-sm-12" style="margin-right:6%">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Pizza</h2>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                {% if product.product_type == 'Pizza' %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-xl-4">
                    <div class="card  mb-4  border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;">{{ product.name }}</h5>
                            <a href="{{ product.get_absolute_url }}"><img class="img-fluid" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no_img.jpg" %}{% endif %}"></a>
                            <p>Small ${{ product.priceSm }}</p>
                            <p>Medium ${{ product.priceMd }}</p>
                            <p>Large ${{ product.priceLg }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h2>Side</h2>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                {% if product.product_type == 'Sides' %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="card  mb-4  border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;">{{ product.name }}</h5>
                            <a href="{{ product.get_absolute_url }}"><img class="img-fluid" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no_img.jpg" %}{% endif %}"></a>
                            <p class="card-text" style="padding-top:3%">${{ product.priceSide }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h2>Soda</h2>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                {% if product.product_type == 'Soda' %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="card  mb-4  border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;">{{ product.name }}</h5>
                            <a href="{{ product.get_absolute_url }}"><img class="img-fluid" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no_img.jpg" %}{% endif %}"></a>
                            <p class="card-text" style="padding-top:3%">12oz ${{ product.priceSm }}</p>
                            <p class="card-text">2-Liter ${{ product.priceLg }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
<!--<center>
    <div id="main" class="menu">
        {% for product in products %}
        <div class="item">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no_img.jpg" %}{% endif %}">
            </a>
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
            <br>
            {% endfor %}
        </div>
    </div>
</center>-->
        </div>
    </div>
</div>
{% endblock %}