html, body {
	padding: 0; 
	margin: 0;
	font-family: "Courier New", Courier, monospace;
	color: white;
	background-color: white;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("images/pizza.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    height: 100%;
}

.bgimg
{

}

.container {
	height: 100vh;
	width: 50%;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	color: white;
	font-size: 21px;
}

.container p2 {
	font-weight: bold;
}

.container logo {
	height: 112px;
	width: 330px;
	border: 5px solid red;
	background: url(../images/LogoSmall.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
}