body, html {
  height: 100%
  padding-top: 70px;
}
.bgimg
{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("bgimage/coming-soon-pizza.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  height: 100%;
}

.top
{
  position: absolute;
  top: 0;
  left: 15%;
  right: 15%;
  text-align: justify;
}

.middle
{
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bottom
{
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 10%;
  text-align: Justify;
}

hr
{
  margin: auto;
  width: 100%;
  color: white;
}

.footerlink a {
  color: #3d3d3f;
  width: 100%;
  align: center;
  transition: all 0.3s ease;
  font-size: 30px;
  margin-top: auto;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align: center;
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}