body, html {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  padding:0; margin:0;
}

.bgimg
{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("bgimage/coming-soon-pizza.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  height: 100%;
}

.bg
{
  font-family: "Courier New", Courier, monospace;
  height: 100%;
}

.footerlink a {
  color: #3d3d3f;
  width: 100%;
  align: center;
  transition: all 0.3s ease;
  font-size: 30px;
  margin-top: auto;
}

#subheader .cart {
    float:right;
    padding-top:4px;
}

#content {
    padding:0 100px;
    overflow:hidden;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0;
   padding:0;
}


.product-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.product-list .item img {
    width:100%;
    margin-bottom:8px;
}

.product-detail {
    text-align:justify;
}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #5993bb;
}

.order-info h3 {
    color:#5993bb;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}


.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}


.order-info span {
    float:right;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

.main {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align: center;
  margin-top: 3%;
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

.menu p {
  padding-top: 1%;
  color: black;
}

.menu h1 {
  text-align: left;
}

.footer {
  margin-top:auto;
  position: relative;
  flex: 0 0 auto;
}

.img-responsive {
  max-width:100%;
  height: auto;
}
.navbar-custom {
  background-color:rgba(243, 216, 166, 0.26);
}

.navbar a{
  color: black;
  font-size: 24px;
}

.navbar a:hover {
  text-decoration: none;
}

.card  > .card-body{
  background-color: rgba(212,115,23, 0.1);
  border-radius: 5%;
}