{% extends "base.html" %}

{% block title %}
Pizza Time | My Store | Customer Create
{% endblock %}
{% load static %}
{% block content %}
    <div class="container">
        <br>
        <p>Create Customer</p>
        <form method='POST'>
            {% csrf_token %}
            {{form.as_p}}<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <input type='submit' value='Save'>
        </form>
        <br>
        <p><li><a href="{% url "mystore:mystore" %}"> My Store</a></li></p>
	</div>
{% endblock %}