{% extends "base.html" %}

{% block title %}
Pizza Time | My Store | Admins Only Dashboard
{% endblock %}
{% load static %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-md">
            <br>
            <center><h1>MyStore Page | Welcome Admin</h1></center>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-black  mb-2" id="total-orders">
                    <div class="card-header">
                        <h5 class="card-title">Total Orders</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ total_orders }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-black  mb-2" id="orders-delivered">
                    <div class="card-header">
                        <h5 class="card-title">Orders Delivered</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ delivered }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-black  mb-2" id="orders-ontheway">
                    <div class="card-header">
                        <h5 class="card-title">Orders On The Way</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ ontheway }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-black  mb-2" id="orders-baking">
                    <div class="card-header">
                        <h5 class="card-title">Orders Baking</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ baking }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-black  mb-2" id="orders-received">
                    <div class="card-header">
                        <h5 class="card-title">Orders Received</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ received }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-5">
            <center><h5>Customers</h5></center>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'mystore:create_customer' %}">Create Customer</a>
                <table class="table table-sm">
                    <tr>
                        <th>Customer ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>

                    {% for customer in customers %}
                    <tr>
                        <td>{{ customer.customerID }}</td>
                        <td>{{ customer.firstname }}</td>
                        <td>{{ customer.lastname }}</td>
                        <td><a href="{% url 'mystore:update_customer' customer.pk %}" class="btn btn-info">Update</a></td>
                        <td><a href="{% url 'mystore:delete_customer' customer.pk %}" class="btn btn-danger">Delete</a></td>
                    </tr>
                    {% endfor %}


                </table>
            </div>
        </div>

        <div class="col-md-7">
            <center><h5>Last Orders</h5></center>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'mystore:create_order' %}">Create Order</a>
                <table class="table table-sm">
                    <tr>
                        <th>Customer</th>
                        <th>Order ID</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>

                    {% for order in orders %}
                    <tr>
                        <td>{{ order.customer }}</td>
                        <td>{{ order.id }}</td>
                        <td>{{ order.status }}</td>
                        <td><a href="{% url 'mystore:update_order' order.id %}" class="btn btn-info">Update</a></td>
                        <td><a href="{% url 'mystore:delete_order' order.id %}" class="btn btn-danger">Delete</a></td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>Add Toppings, Pizzas, Sodas, and Sides as well as Lookup, Create, Edit, and Delete Orders and Customers below.</p>
            <center>
            <a href="{% url "mystore:lookup_order" %}"> All Things Orders</a> |
            <a href="{% url "mystore:lookup_customer" %}"> All Things Customers</a> |
            <a href="{% url "mystore:lookup_products" %}"> All Things Products</a> |
            <a href="{% url "mystore:toppingyeah" %}"> All Things Toppings</a> |
            <a href="{% url "mystore:pizzayeah" %}"> All Things Pizzas</a> |
            <a href="{% url "mystore:sodayeah" %}"> All Things Sodas</a> |
            <a href="{% url "mystore:sideyeah" %}"> All Things Sides</a>
            </center>
        </div>
    </div>
{% endblock %}