{% extends "base.html" %}

{% block title %}
Pizza Time | My Store | Admin Only
{% endblock %}
{% load static %}
{% block content %}
    <div class="container">
        <br>
        <li><a href="{% url "mystore:edit_order" %}"> Edit Order</a></li>
         <li><a href="{% url "mystore:edit_customer" %}"> Edit Customer</a></li>
        <li><a href="{% url "mystore:results" %}"> Results</a></li>
        <br>
        <p>Admin Page for Pizza Time Pizzeria.</p>
        <br>
        <p>Welcome {{user}}!!!!!</p>
        <p>Add toppings, pizza, sodas, and sides as well as Edit Orders and Customers Info below.</p>
        <br>

        <div>
            {% for message in messages %}
            <h0>{{message}}</h0>
            {% endfor %}
        </div>


        <!-- Add Items here -->
        <!-- First Adding Toppings here -->
        <p>Please add new Toppings here.</p>
        <form action="add_topping" method="post">
            {% csrf_token %}
            Add a New Topping : <input type="text" name="topping_name"><br>
            <input type="submit">
        </form>
        <br>

        <div class="result">
            <div class="topping_result">
                <p>{{return_t}}</p><br>
            </div>
        </div>
        <br>

        <!-- Second Adding Pizzas here -->
        <p>Please add new pizzas here.</p>
        <p>Remember when adding a new pizza option, please add three separate entries. One for a small, one for a medium, and one for a large.</p>
        <form action="add_pizza" method="post">
            {% csrf_token %}
            Add a New Pizza : <input type="text" name="pizza_name"><br>
            Select Pizza Size : <input type="text" name="pizza_size"><br>
            New Pizza's Price : <input type="text" name="pizzas_price"><br>
            <input type="submit">
        </form>
        <br>

        <!-- Third Adding Sodas here -->
        <p>Please add new sodas here.</p>
        <p>Remember when adding a new soda option, please add two separate entries for each new soda. One for a 12 Oz and one for a 2 Liter.</p>
        <form action="add_soda" method="post">
            {% csrf_token %}
            Add a New Soda : <input type="text" name="soda_name"><br>
            Select Soda Size : <input type="text" name="soda_size"><br>
            New Soda's Price : <input type="text" name="sodas_price"><br>
            <input type="submit">
        </form>
        <br>

        <!-- Fourth Adding Sides here -->
        <p>Please add new sides here.</p>
        <form action="add_side" method="post">
            {% csrf_token %}
            Add a New Side : <input type="text" name="sides_name"><br>
            New Side's Price : <input type="text" name="sides_price"><br>
            <input type="submit">
        </form>
        <br>

        <!-- Edit Orders and Customers Info here -->
        <!-- First Editing Orders here
        <p>Please edit orders here.</p>
        <form action="edit_order" method="post">
            {% csrf_token %}
            Lookup By Order Number : <input type="text" name="order_number"><br>
            <input type="submit">
        </form>
        <br> -->

        <!-- Second Editing Customers Info here
        <p>Please edit customer info here.</p>
        <form action="edit_customer" method="post">
            {% csrf_token %}
            Lookup Customer : <input type="text" name="customer"><br>
            <input type="submit">
        </form>
        <br> -->
	</div>
{% endblock %}