{% extends "base.html" %}

{% block title %}
Pizza Time | My Store | Pizzas Yeah
{% endblock %}
{% load static %}
{% block content %}
    <!--
    <div class="container">
        <br>
        <p>Welcome Admin!!!!!</p>
        <br>
        <h1>Pizzas</h1>
        <br>


        <p>Please add new pizzas here.</p>
        <p>Remember when adding a new pizza option, please add three separate entries. One for a small, one for a medium, and one for a large.</p>
        <form action="add_pizza" method="post">
            {% csrf_token %}
            Add a New Pizza : <input type="text" name="pizza_name"><br>
            Select Pizza Size : <input type="text" name="pizza_size"><br>
            New Pizza's Price : <input type="text" name="pizzas_price"><br>
            <input type="submit">
        </form>
        <br>-->

        <!-- Pizzas List -->
        <!--<div class="pizza_list">
            <h1>Pizza list</h1>
            {% for pizza in categories %}
                {% for pizza in products %}
                    <li>{{ pizza.name }}></li>
                {% endfor %}
            {% endfor %}
        </div>
        <br>-->
        <!--
        <li><a href="{% url "mystore:mystore" %}"> My Store</a></li>
        <br>
    </div>-->

<center>
            <!--<div class="container-fluid" style="padding-left:13%; padding-right:13%; text-align: center;">
                 <h3>Categories</h3>
                <ul>
                    <li {% if not category %}class="selected"{% endif %}>
                        <a href="{% url "mystore:pizzayeah" %}">All</a>
                    </li>
                    {% for c in categories %}
                    <li {% if not category.slug == c.slug %}class="selected"{% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="container-fluid" style="padding-left:13%; padding-right:13%; text-align: left;">
                <h1>{% if category %}{{ category.name }}{% else %}All{% endif %}</h1>
                {% for pizza in products %}
                <div class="item">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/Logo.png" %}{% endif %}">
                    </a>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    <br>
                </div>
                {% endfor %}
            </div>-->

    <div id="main" class="pizza">
        <h1>Pizzas</h1>
        {% for pizza in pizzas %}
        <li>
            {{ pizza.name }}
        </li>
        {% endfor %}
    </div>
</center>
{% endblock %}