{% extends "base.html" %}

{% block title %}
Pizza Time | My Store | Sides Yeah
{% endblock %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md">
            <br>
            <center><h1>Sides</h1></center>
            <br>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
		</div>
        <div class="col-md-3 text-right">
            <!-- Add Sides here -->
            <p>Please add new Sides here.</p>
            <form action="sideyeah" method="POST" enctype=""multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                <input type="submit">
            </form>
        </div>
        <div class="col-md-5 text-center">
			<table class="table">
				<h5>Sides</h5>
				<tr>
					<th>Name</th>
					<th>Side Price</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
				{% for side in sides %}
					<tr>
						<td>{{ side.name }}</td>
						<td>{{ side.priceSide }}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'mystore:update_side' side.pk %}">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'mystore:delete_side' side.pk %}">Delete</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
        <div class="col-md-2">
        </div>
    </div>
    <br>
{% endblock %}