{% extends "base.html" %}

{% block title %}
Pizza Time | My Store | Toppings Yeah
{% endblock %}
{% load static %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-md">
            <br>
            <center><h1>Toppings</h1></center>
            <br>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
		</div>
        <div class="col-md-3 text-right">
            <!-- Add Toppings here -->
            <p>Please add new Toppings here.</p>
            <form action="toppingyeah" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                <input type="submit">
            </form>
        </div>
        <div class="col-md-5 text-center">
			<table class="table">
				<h5>Toppings</h5>
				<tr>
					<th>Name</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
				{% for topping in toppings %}
					<tr>
						<td>{{ topping.name }}</td>
						<td><a class="btn btn-sm btn-info" href="">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href="">Delete</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
        <div class="col-md-2">
        </div>
    </div>
    <br>
{% endblock %}