{% extends "base.html" %}

{% block title %}
Pizza Time | My Store | Toppings Yeah
{% endblock %}
{% load static %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-md">
            <br>
            <center><h1>Toppings</h1></center>
            <br>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-4 text-right">
            <!-- Add Toppings here -->
            <p>Please add new Toppings here.</p>
            <form action="toppingyeah" method="POST">
                {% csrf_token %}
                Add a New Topping :  <input type="text"><br>
                <input type="submit">
            </form>
        </div>
        <div class="card card-body">
            <div class="col-md-12">
                <table class="table table-sm text-center">
                    <tr>
                        <th>Topping Name</th>
                    </tr>

                    {% for topping in toppings %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}. {{topping.name }} |
                            <a action="toppingyeah" class="btn btn-danger btn-sm" method="POST">Delete</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <br>
{% endblock %}