H1 {color: red; font-style: italic; font-family: sans-serif; text-align: center}
H2 {color: blue; font-style: italic; font-family: sans-serif; text-align: center}
H3 {color: orange; font-style: italic; font-family: sans-serif; text-align: center}
H4 {color: yellow; font-style: italic; font-family: sans-serif; text-align: center}

#footer {font-weight: bold; color: green; text-align: center}

body {background-color: black}

P {color: white}

td {color: white; font-style: italic; font-family: ariel; text-align: left}
th {color: white; font-style: italic; font-family: ariel; text-align: left}